// Colors
$primary-color: #000000;
$white-color: #ffffff;
$blue-color: #00b5d6;
$blue-light-color: #dbf9ff;
$dark-blue-color: #00729e;
$light-red: #ef4444;

// Fonts
$font-size-xxl: 51px;
$font-size-lg: 21px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;
$font-size-xxs: 10.5px;

// Paddings
$padding-md: 14px;
$padding-xs: 7px;

// Breakpoints
$breakpoint-desktop: 1367px;

// Animations
$standart-transition-time: 300ms;
