@import 'src/styles/variables.scss';

.authButtonContainer {
  display: flex;
  z-index: 1000;
  justify-content: flex-end;
  align-items: center;
  min-width: 90px;
}

.signInButton {
  font-size: $font-size-xxs;

  @media screen and (min-width: $breakpoint-desktop) {
    font-size: $font-size-xs;
  }
}
